<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Firebase Google Authentication
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>Cordova Plugin Firebase foi instalado</p>
  <!-- show if user logged in -->
  <div *ngIf="isUserLoggedIn">
    <ion-list>
      <ion-item>
        <ion-avatar item-left>
          <img [src]="userData.photoURL">
        </ion-avatar>
        <h2>{{ userData.displayName }}</h2>
      </ion-item>
      <ion-item>
        <ion-label>Email: {{userData.email}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Email Verified: {{userData.emailVerified}}</ion-label>
      </ion-item>
      
    </ion-list>
    <button ion-button clear small block (click)="logout()">logout</button>
  </div>
  <button *ngIf="!isUserLoggedIn" ion-button round color="danger" block (click)="googleLogin()">
    <ion-icon name="logo-googleplus"></ion-icon>
    Login with Google+
  </button>

  <button *ngIf="!isUserLoggedIn" ion-button round block (click)="facebookLogin()">
    <ion-icon name="logo-facebook"></ion-icon>
    Login with Facebook
  </button>

</ion-content>